
@{
    ViewBag.Title = "Dashboard";
    if (Session["admin_id"] == null)
    {
        Response.Redirect("~/LogInAdmin/Login");
    }
}

<h2>Dashboard</h2>

    <h3>Username: @Session["AdminEmail"].ToString()</h3>
    <a href="@Url.Action("Logout", "LogInAdmin")">Logout</a>

Welcome @HttpContext.Current.User.Identity.Name

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "RegisterUser", FormMethod.Post, new { id = "logoutForm" }))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}


